Core/htdocs/Amor.Qcf.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Amor.Qcf.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Amor.Qcf.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvokingOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelCode" type="tns:Channel" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ukprn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvokingOrganisation" nillable="true" type="tns:InvokingOrganisation" />
  <xs:simpleType name="Channel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Batch" />
      <xs:enumeration value="Portal" />
      <xs:enumeration value="WebServices" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
</xs:schema>