Core/htdocs/findlearner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:findlrnr="http://api.lrs.miap.gov.uk/findmsg" xmlns:lrnr="http://api.lrs.miap.gov.uk/learner" targetNamespace="http://api.lrs.miap.gov.uk/findmsg">

	<import namespace="http://api.lrs.miap.gov.uk/learner" schemaLocation="./learner.xsd"/>

	<simpleType name="MIAPFindType">
		<restriction base="string">
			<pattern value="FUL|CHK"/>
		</restriction>
	</simpleType>
	
	<complexType name="LearnerByULNRqst">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="FindType" nillable="false" type="findlrnr:MIAPFindType"/>
			<element maxOccurs="1" minOccurs="0" name="OrganisationRef" nillable="true" type="lrnr:MIAPOrganisationRef"/>
			<element maxOccurs="1" minOccurs="0" name="UKPRN" nillable="true" type="lrnr:MIAPUKPRN"/>
			<element maxOccurs="1" minOccurs="1" name="OrgPassword" nillable="false" type="lrnr:MIAPOrgPassword"/>
			<element maxOccurs="1" minOccurs="1" name="UserName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="ULN" nillable="false" type="lrnr:MIAPULN"/>
			<element maxOccurs="1" minOccurs="1" name="FamilyName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="GivenName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
		</sequence>
	</complexType>

	<complexType name="LearnerByDemographicsRqst">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="FindType" nillable="false" type="findlrnr:MIAPFindType"/>
			<element maxOccurs="1" minOccurs="0" name="OrganisationRef" nillable="true" type="lrnr:MIAPOrganisationRef"/>
			<element maxOccurs="1" minOccurs="0" name="UKPRN" nillable="true" type="lrnr:MIAPUKPRN"/>
			<element maxOccurs="1" minOccurs="1" name="OrgPassword" nillable="false" type="lrnr:MIAPOrgPassword"/>
			<element maxOccurs="1" minOccurs="1" name="UserName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="FamilyName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="GivenName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="DateOfBirth" nillable="false" type="lrnr:MIAPDate"/>
			<element maxOccurs="1" minOccurs="1" name="Gender" nillable="false" type="lrnr:MIAPGender"/>
			<element maxOccurs="1" minOccurs="1" name="LastKnownPostCode" nillable="false" type="lrnr:MIAPPostCode"/>
			<element maxOccurs="1" minOccurs="0" name="PreviousFamilyName" nillable="true" type="lrnr:MIAPName"/>
			<element maxOccurs="1" minOccurs="0" name="SchoolAtAge16" nillable="true" type="lrnr:MIAPSchoolName"/>
			<element maxOccurs="1" minOccurs="0" name="PlaceOfBirth" nillable="true" type="lrnr:MIAPName"/>
			<element maxOccurs="1" minOccurs="0" name="EmailAddress" nillable="true" type="lrnr:MIAPEmail"/>
		</sequence>
	</complexType>

	<complexType name="FindLearnerResp">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ResponseCode" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="ULN" type="lrnr:MIAPULN"/>
			<element maxOccurs="1" minOccurs="0" name="FamilyName" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="0" name="GivenName" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="0" name="DateOfBirth" type="lrnr:MIAPDate"/>
			<element maxOccurs="1" minOccurs="0" name="Gender" type="lrnr:MIAPGender"/>
			<element maxOccurs="1" minOccurs="0" name="LastKnownPostCode" type="lrnr:MIAPPostCode"/>
			<element maxOccurs="1" minOccurs="0" name="PreviousFamilyName" type="lrnr:MIAPName"/>
			<element maxOccurs="1" minOccurs="0" name="SchoolAtAge16" type="lrnr:MIAPSchoolName"/>
			<element maxOccurs="1" minOccurs="0" name="PlaceOfBirth" type="lrnr:MIAPName"/>
			<element maxOccurs="1" minOccurs="0" name="EmailAddress" type="lrnr:MIAPEmail"/>
			<element maxOccurs="unbounded" minOccurs="0" name="Learner" type="lrnr:Learner"/>
		</sequence>
	</complexType>

	<element name="FindLearnerByULN" type="findlrnr:LearnerByULNRqst"/>

	<element name="FindLearnerByDemographics" type="findlrnr:LearnerByDemographicsRqst"/>

	<element name="FindLearnerResponse" type="findlrnr:FindLearnerResp"/>

</schema>
