Core/htdocs/microsoft.serialization.arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:serarr="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:ipam="http://Microsoft.Windows.Ipam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://Microsoft.Windows.Ipam" />
   <xs:complexType name="ArrayOfunsignedShort">
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="unsignedShort" type="xsd:unsignedShort" />
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfstring">
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfanyType">
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" type="xsd:anyType" />
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfunsignedByte">
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="unsignedByte" type="xsd:unsignedByte" />
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfKeyValueOfintanyType">
     <xs:annotation>
       <xs:appinfo>
         <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
       </xs:appinfo>
     </xs:annotation>
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintanyType">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="Key" type="xsd:int" />
             <xs:element name="Value" nillable="true" type="xsd:anyType" />
           </xs:sequence>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOflong">
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="long" type="xsd:long" />
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfKeyValueOfDnsReverseLookupZoneFilterCriteriaanyType2zwQHvQz">
     <xs:annotation>
       <xs:appinfo>
         <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
       </xs:appinfo>
     </xs:annotation>
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDnsReverseLookupZoneFilterCriteriaanyType2zwQHvQz">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="Key" type="ipam:DnsReverseLookupZoneFilterCriteria" />
             <xs:element name="Value" nillable="true" type="xsd:anyType" />
           </xs:sequence>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfKeyValueOfDnsZoneFilterCriteriaanyType2zwQHvQz">
     <xs:annotation>
       <xs:appinfo>
         <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
       </xs:appinfo>
     </xs:annotation>
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDnsZoneFilterCriteriaanyType2zwQHvQz">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="Key" type="ipam:DnsZoneFilterCriteria" />
             <xs:element name="Value" nillable="true" type="xsd:anyType" />
           </xs:sequence>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfKeyValueOfServerInfoGetServerFilteranyType2zwQHvQz">
     <xs:annotation>
       <xs:appinfo>
         <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
       </xs:appinfo>
     </xs:annotation>
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfServerInfoGetServerFilteranyType2zwQHvQz">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="Key" type="ipam:ServerInfoGetServerFilter" />
             <xs:element name="Value" nillable="true" type="xsd:anyType" />
           </xs:sequence>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ArrayOfKeyValueOflongDhcpScopem1ahUJFx">
     <xs:annotation>
       <xs:appinfo>
         <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
       </xs:appinfo>
     </xs:annotation>
     <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongDhcpScopem1ahUJFx">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="Key" type="xsd:long" />
             <xs:element name="Value" nillable="true" type="ipam:DhcpScope" />
           </xs:sequence>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
 </xs:schema>