Core/htdocs/verifybatchlearner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:vldlrnr="http://api.lrs.miap.gov.uk/vldmsg" xmlns:lrnr="http://api.lrs.miap.gov.uk/learner" targetNamespace="http://api.lrs.miap.gov.uk/vldmsg">
	
	<import namespace="http://api.lrs.miap.gov.uk/learner" schemaLocation="./learner.xsd"/>
	
	<complexType name="VerifyBatchRqst">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrganisationRef" nillable="true" type="lrnr:MIAPOrganisationRef"/>
			<element maxOccurs="1" minOccurs="0" name="UKPRN" nillable="true" type="lrnr:MIAPUKPRN"/>
			<element maxOccurs="1" minOccurs="1" name="OrgPassword" nillable="false" type="lrnr:MIAPOrgPassword"/>
			<element maxOccurs="1" minOccurs="1" name="UserName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="LearnerRecordCount" nillable="false" type="lrnr:MIAPLearnerRecordCount"/>
			<element maxOccurs="1" minOccurs="0" name="OrgEmail" nillable="true" type="lrnr:MIAPEmail"/>
			<element maxOccurs="unbounded" minOccurs="1" name="Learner" nillable="false" type="lrnr:MIAPBatchLearnerToVerify"/>
		</sequence>
	</complexType>

	<complexType name="VerifyBatchOutputRqst">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrganisationRef" nillable="true" type="lrnr:MIAPOrganisationRef"/>
			<element maxOccurs="1" minOccurs="0" name="UKPRN" nillable="true" type="lrnr:MIAPUKPRN"/>
			<element maxOccurs="1" minOccurs="1" name="OrgPassword" nillable="false" type="lrnr:MIAPOrgPassword"/>
			<element maxOccurs="1" minOccurs="1" name="UserName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="JobID" nillable="false" type="long"/>
		</sequence>
	</complexType>

	<complexType name="VerifyBatchResp">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ResponseCode" nillable="false" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="JobID" nillable="false" type="long"/>
		</sequence>
	</complexType>

	<complexType name="VerifyBatchOutputResp">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ResponseCode" nillable="false" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="JobStatus" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="JobStartedDateTime" type="lrnr:MIAPDateTime"/>
			<element maxOccurs="1" minOccurs="0" name="JobFinishedDateTime" type="lrnr:MIAPDateTime"/>
			<element maxOccurs="5000" minOccurs="0" name="VerifiedLearner" type="lrnr:MIAPVerifiedBatchLearner"/>
		</sequence>
	</complexType>

	<element name="SubmitVerifyBatch" type="vldlrnr:VerifyBatchRqst"/>

	<element name="SubmitVerifyBatchResponse" type="vldlrnr:VerifyBatchResp"/>

	<element name="GetVerifyBatchOutput" type="vldlrnr:VerifyBatchOutputRqst"/>

	<element name="GetVerifyBatchOutputResponse" type="vldlrnr:VerifyBatchOutputResp"/>
	
</schema>
