Core/htdocs/module_soap/wsdl/demo.wsdl

<?xml version ='1.0' encoding ='ISO-8859-1' ?>
<definitions name='SunesisService' targetNamespace='https://demo.sunesis.uk.net/' xmlns:tns='https://demo.sunesis.uk.net/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
    <wsdl:types>
        <xsd:schema targetNamespace="https://demo.sunesis.uk.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="destinyXML">
                <xsd:complexType name="mimeXmlType" use="required">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <message name='receiveILRXMLRequest'>
        <part name='receiveILRXMLRequest_username' type='xsd:string' />
        <part name='receiveILRXMLRequest_password' type='xsd:string' />
        <part name='receiveILRXMLRequest_destinyFileName' type='xsd:string' />
        <part name='receiveILRXMLRequest_destinyXML' type='mimeXmlType' />
    </message>
    <message name='receiveILRXMLResponse'>
        <part name='receiveILRXMLResponse_Result' type='xsd:string' />
    </message>

    <message name='receiveILRPDFRequest'>
        <part name='receiveILRPDFRequest_username' type='xsd:string' />
        <part name='receiveILRPDFRequest_password' type='xsd:string' />
        <part name='receiveILRPDFRequest_destinyFileName' type='xsd:string' />
        <part name='receiveILRPDFRequest_destinyPDF' type='xsd:base64Binary' />
    </message>
    <message name='receiveILRPDFResponse'>
        <part name='receiveILRPDFResponse_Result' type='xsd:string' />
    </message>

    <message name='receiveILRRequest'>
        <part name='receiveILRRequest_username' type='xsd:string' />
        <part name='receiveILRRequest_password' type='xsd:string' />
        <part name='receiveILRRequest_destinyXMLFileName' type='xsd:string' />
        <part name='receiveILRRequest_destinyXML' type='mimeXmlType' />
        <part name='receiveILRRequest_destinyPDFFileName' type='xsd:string' />
        <part name='receiveILRRequest_destinyPDF' type='xsd:base64Binary' />
    </message>
    <message name='receiveILRResponse'>
        <part name='receiveILRResponse_Result' type='xsd:string' />
    </message>

    <message name='receiveLearnerAgreementXMLRequest'>
        <part name='receiveLearnerAgreementXMLRequest_username' type='xsd:string' />
        <part name='receiveLearnerAgreementXMLRequest_password' type='xsd:string' />
        <part name='receiveLearnerAgreementXMLRequest_destinyFileName' type='xsd:string' />
        <part name='receiveLearnerAgreementXMLRequest_destinyXML' type='mimeXmlType' />
    </message>
    <message name='receiveLearnerAgreementXMLResponse'>
        <part name='receiveLearnerAgreementXMLResponse_Result' type='xsd:string' />
    </message>


    <message name='receiveLearnerAgreementPDFRequest'>
        <part name='receiveLearnerAgreementPDFRequest_username' type='xsd:string' />
        <part name='receiveLearnerAgreementPDFRequest_password' type='xsd:string' />
        <part name='receiveLearnerAgreementPDFRequest_destinyFileName' type='xsd:string' />
        <part name='receiveLearnerAgreementPDFRequest_destinyPDF' type='xsd:base64Binary' />
    </message>
    <message name='receiveLearnerAgreementPDFResponse'>
        <part name='receiveLearnerAgreementPDFResponse_Result' type='xsd:string' />
    </message>

    <message name='receiveLearnerAgreementRequest'>
        <part name='receiveLearnerAgreementRequest_username' type='xsd:string' />
        <part name='receiveLearnerAgreementRequest_password' type='xsd:string' />
        <part name='receiveLearnerAgreementRequest_destinyXMLFileName' type='xsd:string' />
        <part name='receiveLearnerAgreementRequest_destinyXML' type='mimeXmlType' />
        <part name='receiveLearnerAgreementRequest_destinyPDFFileName' type='xsd:string' />
        <part name='receiveLearnerAgreementRequest_destinyPDF' type='xsd:base64Binary' />
    </message>
    <message name='receiveLearnerAgreementResponse'>
        <part name='receiveLearnerAgreementResponse_Result' type='xsd:string' />
    </message>

    <message name='receiveDestinyRequest'>
        <part name='receiveDestinyRequest_username' type='xsd:string' />
        <part name='receiveDestinyRequest_password' type='xsd:string' />
        <part name='receiveDestinyRequest_destinyXMLFileName' type='xsd:string' />
        <part name='receiveDestinyRequest_destinyXML' type='mimeXmlType' />
        <part name='receiveDestinyRequest_destinyPDFFileName' type='xsd:string' />
        <part name='receiveDestinyRequest_destinyPDF' type='xsd:base64Binary' />
    </message>
    <message name='receiveDestinyResponse'>
        <part name='receiveDestinyResponse_Result' type='xsd:string' />
    </message>

    <portType name='DestinyReceipt'>
        <operation name='acceptILRXML'>
            <input message='tns:receiveILRXMLRequest'/>
            <output message='tns:receiveILRXMLResponse'/>
        </operation>

        <operation name='acceptILRPDF'>
            <input message='tns:receiveILRPDFRequest'/>
            <output message='tns:receiveILRPDFResponse'/>
        </operation>

        <operation name='acceptILR'>
            <input message='tns:receiveILRRequest'/>
            <output message='tns:receiveILRResponse'/>
        </operation>

        <operation name='acceptEXG'>
            <input message='tns:receiveILRRequest'/>
            <output message='tns:receiveILRResponse'/>
        </operation>

        <operation name='acceptLearnerAgreementXML'>
            <input message='tns:receiveLearnerAgreementXMLRequest'/>
            <output message='tns:receiveLearnerAgreementXMLResponse'/>
        </operation>

        <operation name='acceptLearnerAgreementPDF'>
            <input message='tns:receiveLearnerAgreementPDFRequest'/>
            <output message='tns:receiveLearnerAgreementPDFResponse'/>
        </operation>

        <operation name='acceptLearnerAgreement'>
            <input message='tns:receiveLearnerAgreementRequest'/>
            <output message='tns:receiveLearnerAgreementResponse'/>
        </operation>

        <operation name='acceptDestinyILR'>
            <input message='receiveDestinyRequest'/>
            <output message='receiveDestinyResponse'/>
        </operation>

    </portType>

    <binding name='SunesisBinding' type='tns:DestinyReceipt'>
        <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
        <operation name='acceptILRXML'>
            <soap:operation soapAction='urn:localhost-catalog#acceptILRXML'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptILRPDF'>
            <soap:operation soapAction='urn:localhost-catalog#acceptILRPDF'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptILR'>
            <soap:operation soapAction='urn:localhost-catalog#acceptILR'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptEXG'>
            <soap:operation soapAction='urn:localhost-catalog#acceptILR'/>
            <input>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptLearnerAgreementXML'>
            <soap:operation soapAction='urn:localhost-catalog#acceptLearnerAgreementXML'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptLearnerAgreementPDF'>
            <soap:operation soapAction='urn:localhost-catalog#acceptLearnerAgreementPDF'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptLearnerAgreement'>
            <soap:operation soapAction='urn:localhost-catalog#acceptLearnerAgreement'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
        <operation name='acceptDestinyILR'>
            <soap:operation soapAction='urn:localhost-catalog#acceptDestinyILR'/>
            <input>
                 <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:localhost-catalog' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
            </output>
        </operation>
    </binding>

    <service name='SunesisService'>
        <port name='SunesisPort' binding='SunesisBinding'>
            <soap:address location='https://demo.sunesis.uk.net/module_soap/sunesis.php' />
        </port>
    </service>

</definitions>

