Core/htdocs/MIAP/registerlearner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:lrnr="http://api.lrs.miap.gov.uk/learner" xmlns:reglrnr="http://api.lrs.miap.gov.uk/regmsg" targetNamespace="http://api.lrs.miap.gov.uk/regmsg">
	
	<import namespace="http://api.lrs.miap.gov.uk/learner" schemaLocation="learner.xsd"/>

	<complexType name="RegisterSingleLearnerRqst">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrganisationRef" nillable="true" type="lrnr:MIAPOrganisationRef"/>
			<element maxOccurs="1" minOccurs="0" name="UKPRN" nillable="true" type="lrnr:MIAPUKPRN"/>
			<element maxOccurs="1" minOccurs="1" name="OrgPassword" nillable="false" type="lrnr:MIAPOrgPassword"/>
			<element maxOccurs="1" minOccurs="1" name="UserName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="Learner" nillable="false" type="lrnr:LearnerToRegister"/>
		</sequence>
	</complexType>

	<complexType name="UpdateLearnerRqst">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrganisationRef" nillable="true" type="lrnr:MIAPOrganisationRef"/>
			<element maxOccurs="1" minOccurs="0" name="UKPRN" nillable="true" type="lrnr:MIAPUKPRN"/>
			<element maxOccurs="1" minOccurs="1" name="OrgPassword" nillable="false" type="lrnr:MIAPOrgPassword"/>
			<element maxOccurs="1" minOccurs="1" name="UserName" nillable="false" type="lrnr:MIAPNameNonEmpty"/>
			<element maxOccurs="1" minOccurs="1" name="Learner" nillable="false" type="lrnr:LearnerToUpdate"/>
		</sequence>
	</complexType>

	<complexType name="RegisterSingleLearnerResp">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ResponseCode" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="ULN" type="lrnr:MIAPULN"/>
		</sequence>
	</complexType>

	<complexType name="UpdateLearnerResp">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ResponseCode" type="string"/>
		</sequence>
	</complexType>

	<element name="RegisterLearner" type="reglrnr:RegisterSingleLearnerRqst"/>

	<element name="UpdateLearner" type="reglrnr:UpdateLearnerRqst"/>

	<element name="RegisterLearnerResponse" type="reglrnr:RegisterSingleLearnerResp"/>

	<element name="UpdateLearnerResponse" type="reglrnr:UpdateLearnerResp"/>

</schema>
