Core/htdocs/LRS/api.lrs.qcf.gov.uk.services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.lrs.qcf.gov.uk/services" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://api.lrs.qcf.gov.uk/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="./api.lrs.qcf.gov.uk.model.xsd" namespace="http://api.lrs.qcf.gov.uk/model" />
  <xs:import schemaLocation="./schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSnapshot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Snapshot" nillable="true" type="tns:Snapshot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSnapshot" nillable="true" type="tns:ArrayOfSnapshot" />
  <xs:complexType name="Snapshot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element xmlns:q1="http://api.lrs.qcf.gov.uk/model" minOccurs="0" name="Events" nillable="true" type="q1:ArrayOfSnapshotEvent" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="TargetEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Snapshot" nillable="true" type="tns:Snapshot" />
</xs:schema>