Core/htdocs/LRS/api.lrs.qcf.gov.uk.faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.lrs.qcf.gov.uk/faults" elementFormDefault="qualified" targetNamespace="http://api.lrs.qcf.gov.uk/faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DomainFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainFault" nillable="true" type="tns:DomainFault" />
</xs:schema>